<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title ng-bind="title"></title>
  <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/base.css">
</head>

<body ng-app="movieCat">
  <nav class="navbar navbar-default" ng-controller="navBarCtrl">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">movieCat</a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li ui-sref-active="active">
            <a ui-sref="in_theaters({page:1})">正在热映</a>
          </li>
          <li ui-sref-active="active">
            <a ui-sref="comming_soon({page:1})">即将上映</a>
          </li>
          <li ui-sref-active="active">
            <a ui-sref="top250({page:1})">Top250</a>
          </li>
        </ul>
        <form class="navbar-form navbar-left">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="请输入搜索内容" ng-model="keyword">
          </div>
          <button type="button" class="btn btn-default" ng-click="search()">搜索</button>
        </form>
      </div>
    </div>
  </nav>
  <div ui-view></div>
  <script src="../node_modules/angular/angular.min.js"></script>
  <script src="../node_modules/@uirouter/angularjs/release/angular-ui-router.min.js"></script>
  <script src="js/all.min.js"></script>
</body>

</html>